body {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(img/moon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.container {
  font-size: 10px;
  width: 40em;
  height: 40em;
  position: relative;
}
.sun {
  position: absolute;
  top: 15em;
  left: 15em;
  width: 10em;
  height: 10em;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 4em white;
}
.earth,
.moon {
  position: absolute;
  border-style: solid;
  border-color: white transparent;
  border-width: 0.1em 0.1em 0 0;
  border-radius: 50%;
}
.earth {
  top: 5em;
  left: 5em;
  width: 30em;
  height: 30em;
  animation: orbit 36.5s linear infinite;
}
.moon {
  top: 0;
  right: 0;
  width: 8em;
  height: 8em;
  animation: orbit 2.7s linear infinite;
}
.earth::before,
.moon::before {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.earth::before {
  top: 2.8em;
  right: 2.8em;
  width: 3em;
  height: 3em;
  background-color: white;
}
.moon::before {
  top: 0.8em;
  right: 0.2em;
  width: 1.2rem;
  height: 1.2em;
  background-color: silver;
}
/* CSS dengan nama "light" */
.nama {
  margin: auto;
  font-size: 3rem;
  padding-top: 35rem;
  position: absolute;
  color: lightslategrey;
  animation: move-forward-backward 2s ease-in-out infinite;
}

@keyframes orbit {
  to {
    transform: rotate(360deg);
  }
}
@keyframes move-forward-backward {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}
/* Untuk perangkat dengan lebar layar lebih kecil dari 768px (ponsel) */
@media (max-width: 768px) {
  /* Aturan CSS khusus untuk ponsel di sini */
}

/* Untuk perangkat dengan lebar layar antara 769px hingga 1024px (tablet) */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Aturan CSS khusus untuk tablet di sini */
}

/* Untuk perangkat dengan lebar layar lebih besar dari 1024px (laptop) */
@media (min-width: 1025px) {
  /* Aturan CSS khusus untuk laptop di sini */
}
